@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    cursor: default;
}

.alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.vimeo-wrapper iframe {
    height:354px;
}

.signup-btn {
    text-align: center;
    margin-top: 59px;
    margin-bottom: 12px;
}

.signup-btn a {
    background: #4581B5 none repeat scroll 0% 0% !important;
    color: #FFF !important;
    font-size: 16px;
    padding: 16px 30px !important;
    opacity: 1;
    transition: opacity 0.1s ease-in-out 0s;
    text-decoration: none;
}

.signup-btn a:hover {
    opacity: 0.8;
}

.floatright {
    float: right;
}

.navbar-btn {
    margin: 8px;
}

.custom-nav {
    background: none;
    border: none;
    margin-bottom: 0px;
}

.home-btn {
    background: #fff;
    color: #000;
    border: none;
    transition: opacity 0.1s ease-in-out 0s;
}

.home-btn:hover {
    background: #fff;
    color: #000;
    border: none;
    opacity: 0.8;
}

.social-share {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 22px;
    text-align: center;
}

.social-share a {
    border: 1px solid #ECECEC;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin: 20px;
    text-decoration: none;
    transition: opacity 0.1s ease-in-out 0s;
}

.social-share a:hover {
    opacity: 0.8;
}

#partners {
    clear: both;
    padding: 15px 0px 0px;
    text-align: center;
}

.copyright {
    font-size: 11px;
    margin-top: 40px;
    text-align: center;
}

.img-bg {
    position: relative;
}

.img-bg img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    margin-top: 10px;
}

.btn {
    transition: all 0.1s ease-in-out 0s;
}

.btn:hover {
    transition: all 0.1s ease-in-out 0s;
}

@media only screen and (max-width: 1199px) {
    .vimeo-wrapper iframe {
        height:279px;
    }
    .jumbotron h1 {
        font-size:45px!important;
        margin: 0px;
    }
    .jumbotron h3 {
        font-size:23px!important;
        margin: 0px;
    }
    .jumbotron h5 {
        font-size:13px!important;
        margin: 0px;
    }
    .signup-btn a {
        font-size:15px;
    }
    .signup-btn {
        margin-top: 69px;
    }
    .social-share a {
        margin: 10px;
    }
    .img-bg img {
        width: 39px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .vimeo-wrapper iframe {
        height:303px;
    }
    
    .home-btn {
        margin-left: 25px!important;
    }
    .jumbotron h1 {
        font-size:63px!important;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .jumbotron h3 {
        font-size:24px!important;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .jumbotron h5 {
        font-size:14px!important;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .col-md-4 {
        margin-top: 30px;
    }
    .signup-btn a {
        font-size: 16px;
        padding: 16px 30px !important;
    }
    .social-share a {
        margin: 20px;
    }
    .img-bg img {
        width: 60px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    nav.navbar a {
      text-align: center;
    }
    .vimeo-wrapper iframe {
        height:354px;
    }
    
}

@media only screen and (max-width: 571px) {
    .vimeo-wrapper iframe {
        height:254px;
    }
}

@media only screen and (max-width: 415px) {
    .vimeo-wrapper iframe {
        height:166px;
    }
}