// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vimeo-wrapper iframe {
    height:354px;
}

@media only screen and (max-width: 1199px) {
    .vimeo-wrapper iframe {
        height:279px;
    }
}

@media only screen and (max-width: 991px) {
    .vimeo-wrapper iframe {
        height:196px;
    }
}

@media only screen and (max-width: 767px) {
    nav.navbar a {
      text-align: center;
    }
    .vimeo-wrapper iframe {
        height:354px;
    }
}

@media only screen and (max-width: 571px) {
    .vimeo-wrapper iframe {
        height:254px;
    }
}

@media only screen and (max-width: 415px) {
    .vimeo-wrapper iframe {
        height:166px;
    }
}

.signup-btn {
    text-align: center;
    margin-top: 50px;
}

.signup-btn .btn{
    background: #4581B5 none repeat scroll 0% 0% !important;
    color: #FFF !important;
    font-size: 16px;
    padding: 16px 30px !important;
    opacity: 1;
    transition: opacity 0.1s ease-in-out 0s;
}

.signup-btn .btn:hover {
    opacity: 0.8;
}